ENVIRO.NEW
ENVIRO.NAME: FREE-C-EXAMPLE
ENVIRO.BASE_DIRECTORY: ROOT=..
ENVIRO.STUB_BY_FUNCTION: exampleWrapper
ENVIRO.WHITE_BOX: YES
ENVIRO.VCDB_FILENAME: 
ENVIRO.VCDB_CMD_VERB: 
ENVIRO.COVERAGE_TYPE: Statement
ENVIRO.INDUSTRY_MODE: Default
ENVIRO.LIBRARY_STUBS:  
ENVIRO.STUB: ALL_BY_PROTOTYPE
ENVIRO.COMPILER: CC
ENVIRO.TYPE_HANDLED_DIRS_ALLOWED: 
ENVIRO.SEARCH_LIST: $(ROOT)\c-files
ENVIRO.END
